*{
  margin: 0px;
  padding: 0px;
}
body{ background-color: #e6e6e6; font-family: 'Hind Siliguri', sans-serif;  background-attachment: fixed;  
} 

button{
  font-size: 20px !important;
}
.carousel-item{
background-color: rgb(34, 48, 37); height: 38rem; } .overlay-image{
opacity: 40%; 
} 

.navbar-fluid, footer{ background-color: #499b4a; color:
white; font-weight:500; 
} 

.card, .card-login{ box-shadow: 0px 5px 10px 7px #0000003b; 
}

button {
  font-weight:500;
}

.login-background-color{
  background: rgb(73,155,74);
  background: radial-gradient(circle, rgba(73,155,74,1) 0%, rgba(28,77,28,1) 94%);
}

.card-color{
  background: rgba(255, 255, 255, 0.549);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(127, 123, 123, 0.549);
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} 

.card-login{
  padding-right: 0%;
  padding-left: 0%;
  padding-bottom: 0%;
}
.input-group-text{
  color: white;
  background-color: #198754;
}

.info-container{
  background-color: #198754;
}