body{ background-color: #e6e6e6; font-family: 'Hind Siliguri', sans-serif;  background-attachment: fixed; 
} 

button{
  font-size: 20px !important;
}
.carousel-item{
background-color: rgb(34, 48, 37); height: 38rem; } .overlay-image{
opacity: 40%; 
} 

.navbar-fluid, footer{ background-color: #499b4a; color:
white; font-weight:500; 
} 

.card, .card-login{ box-shadow: 0px 5px 10px 7px #0000003b; 
}

button {
  font-weight:500;
}

.login-background-color{
  background: rgb(73,155,74);
  background: radial-gradient(circle, rgba(73,155,74,1) 0%, rgba(28,77,28,1) 94%);
}

.card-login{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.792);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);

}